[submodule "external/leaderboard_1"]
	path = external/leaderboard_1
	url = git@github.com:carla-simulator/leaderboard.git
	branch = leaderboard-1.0
[submodule "external/scenario_runner_1"]
	path = external/scenario_runner_1
	url = git@github.com:carla-simulator/scenario_runner.git
	branch = leaderboard-1.0
